*.pyc
*.egg
*.egg-info
*.mo
.installed.cfg
.mr.developer.cfg
.settings/
bin/
buildout-cache/
develop-eggs/
parts/
src/*
!src/operun
var/
htmlcov/
.coverage
*.log
output.xml
log.html
report.html
pip-selfcheck.json

# virtualenv
.Python
etc/
include/
lib/
local/

# editor config
.project
.pydevproject
.editorconfig
*.swp

# node and grunt
node_modules/
package.json
Gruntfile.js
temp_resources

# coverage
coverage_report/
