@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-sm-max: 991px;
@screen-md-min: 992px;
@screen-md-max: 1199px;
@screen-lg-min: 1200px;

@frontpage-black: #000;
@frontpage-grey: #2E3133;
@frontpage-blue: #16A1E3;

@import 'section-articles.less';
@import 'section-news.less';
@import 'section-teaser.less';
@import 'section-text.less';
@import 'section-tiles.less';

/* Content Type icons */

body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-article::after {
  content: '';
}

body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-article::before {
  content: '';
}

body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-frontpage::after {
  content: '';
}

body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-frontpage::before {
  content: '';
}

body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-teaser::after {
  content: '';
}

body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-teaser::before {
  content: '';
}

body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-tile::after {
  content: '';
}

body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-tile::before {
  content: '';
}

#content-core #form-widgets-image img {
  width: 100%;
  height: auto;
}

#content-core #form-widgets-image img[alt='JPEG image'] {
  width: 16px;
  height: auto;
}
