@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-sm-max: 991px;
@screen-md-min: 992px;
@screen-md-max: 1199px;
@screen-lg-min: 1200px;

@frontpage-black: #000000;
@frontpage-grey: #2e3133;
@frontpage-blue: #16a1e3;

@import 'contenttypes.less';
@import 'section-articles.less';
@import 'section-news.less';
@import 'section-teaser.less';
@import 'section-text.less';
@import 'section-tiles.less';


.template-view .formHelp {
  display: none;
}

#content-core #form-widgets-image img {
  width: 100%;
  height: auto;
}

#content-core #form-widgets-image img[alt='JPEG image'] {
  width: 16px;
  height: auto;
}
