/* custom content type icons */

body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-frontpage::after {
    content: "";
}

body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-frontpage::before {
    content: "";
}

body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-teaser::after {
    content: "";
}

body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-teaser::before {
    content: "";
}


/* teaser styling */

#frontpage-carousel {
  margin: 30px 0;
}

.teaser-wrapper:before {
  display: block;
  float: left;
  width: 100%;
  content: '';
}

.teaser-wrapper {
  position: relative;
  display: block;
  float: left;
}

.teaser {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  float: left;
}

.teaser-image img {
  width: 100%;
  height: 100%;
}

.teaser-text {
  position: absolute;
  right: 30px;
  bottom: 30px;
  left: 30px;
  color: #fff;
}


/* news item styling */

#frontpage-news {
    margin-bottom: 20px;
}

.news-item {
    width: 360px;
    float: left;
    margin: 0 30px 30px 0;
}

.news-title {
    padding: 0 1px;
    margin-bottom: 15px;
}

.news-image {
    margin-bottom: 15px;
}

.news-description {
    padding: 0 1px;
}

.news-item:nth-child(3n) {
    margin: 0 0 30px 0;
}
